{% extends 'AppBundle::sidebar.html.twig'%}

{% block body %}


    <!-- Wrapper begin -->
    <div class="container-fluid" id="main-content-wrapper">
        <div class="container-fluid">
            <div class="row">

                {% block sidebar %}{{ parent() }}{% endblock %}

                <div class="col-lg-3">
                    {{ form_start(Form) }}
                    {{ form_widget(Form) }}
                    {{ form_end(Form) }}
                </div>
            </div>
        </div>
    </div> <!-- Wrapper End -->


{% endblock %}