{% extends 'AppBundle::layoutBase.html.twig'%}



{% block index %}

    <!-- Run the form -->
    <div class="col-lg-4">
        {{ form_start(Form)}}
        {{ form_widget(Form)}}
        {{ form_end(Form)}}
    </div>

{% endblock %}