{% extends '@App/layoutBase.html.twig'%}

{% block index %}

    <!-- Run the form -->
    <div class="col-lg-3">
        {{ form_start(Form) }}
        {{ form_widget(Form) }}
        {{ form_end(Form) }}
    </div>


{% endblock %}