{% extends 'AppBundle::base.html.twig'%}



{% block body %}

    <!-- Wrapper begin -->
    <div class="container-fluid" id="main-content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <!-- Flexible Content -->
                <!-- Sidebar Begin -->
                <div class="col-lg-2">
                    <div id="navigation-sidebar">
                        <div class="nav navbar">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="http://localhost:8000/overview">Overview</a> </li>
                                <ul class="nav" id="viewCollapse">
                                    <li><a href="#">Equipment</a> </li>
                                    <li><a href="#">Calibrations</a> </li>
                                    <li><a href="#">Types</a> </li>
                                    <hr>
                                </ul>
                                <li class="active"><a href="#">Equipment</a></li>
                                <ul class="navbar nav" id="equipmentCollapse">
                                    <li > <a href="#createCollapse" data-toggle="collapse">Create</a> </li>
                                    <ul class="nav collapse" id="createCollapse">
                                        <li> <a href="http://localhost:8000/createEquipment" >Equipment</a> </li>
                                        <li> <a href="http://localhost:8000/createCalibration" >Calibration</a> </li>
                                        <li> <a href="http://localhost:8000/createType" >Type</a> </li>
                                        <hr>
                                    </ul>
                                    <li> <a href="http://localhost:8000/createEquipmentData" >Update</a> </li>
                                    <hr>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div><!-- Sidebar End -->
                <!-- Flexible Content END -->

                <div class="col-lg-8">

                    <h1>Update Equipment: {{ equipment.EquipmentID }}</h1>
                </div>

                <div class="col-lg-4">
                    <hr>
                    {{ form_start(Form) }}
                    {{ form_widget(Form) }}
                    {{ form_end(Form) }}
                </div>
            </div>
        </div>


    </div><!-- Wrapper End -->


{% endblock %}