<!DOCTYPE html>
<html>
<head><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- GoogleJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <meta charset="UTF-8" />

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/sidebar.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/mainContent.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>


<!-- Wrapper Begin -->
<div id="wrapper">

    <!-- NAVIGATION TOP BAR -->
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-bar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://localhost:8000/homepage" class="navbar-brand">Insatech Equipment</a>
            </div>

            <div class="collapse navbar-collapse" id="top-nav-bar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Profile</a> </li>
                </ul>
                <form action="" class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search equipment">
                    </div>
                </form>
            </div>
        </div><!-- Container End -->
    </div><!-- Navbar end -->


    {#<!-- Sidebar -->#}
    {#<div id="sidebar-wrapper">#}
        {#<ul class="sidebar-nav">#}
            {#<li><a href="#">Equipment1</a> </li>#}
            {#<li><a href="#">Equipment2</a> </li>#}
            {#<li><a href="#">Equipment3</a> </li>#}
        {#</ul>#}
    {#</div>#}

    {#<!-- Page content -->#}
    {#<div id="page-content-wrapper">#}
        {#<div class="container-fluid">#}
            {#<div class="row">#}
                {#<div class="col-lg-12">#}
                    {#<a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</a>#}
                    {#<h1>Sidebar Layouts are cool</h1>#}
                    {#<p>I love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pie#}
                        {#I love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pie#}
                        {#I love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pie#}
                        {#I love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pieI love Apple pie</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<!-- Menu toggle script -->#}
    {#<script>#}
        {#$("#menu-toggle").click(function(e)#}
        {#{#}
            {#e.preventDefault();#}
            {#$("#wrapper").toggleClass("menuDisplayed")#}
        {#})#}
    {#</script>#}


</div> <!-- Wrapper End -->


{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>









{#  BASIC BASE.HTML.TWIG  #}
{#<!DOCTYPE html>#}
{#<html>#}
    {#<head><!-- Latest compiled and minified CSS -->#}
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}
        {#<!-- Optional theme -->#}
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">#}
        {#<!-- GoogleJS-->#}
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>#}

        {#<meta charset="UTF-8" />#}
        {#<title>{% block title %}Welcome!{% endblock %}</title>#}
        {#{% block stylesheets %}{% endblock %}#}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    {#</head>#}
    {#<body>#}
        {#{% block body %}{% endblock %}#}
        {#{% block javascripts %}{% endblock %}#}
        {#<!-- Latest compiled and minified JavaScript -->#}
        {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
    {#</body>#}
{#</html>#}
