<!DOCTYPE html>
<html>
<head><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- GoogleJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <meta charset="UTF-8" />

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<style>

    /*@media (min-width: 768px) {*/
    /*.sidebar {*/
        /*position: fixed;*/
        /*top: 51px;*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*z-index: 1000;*/
        /*display: block;*/
        /*padding: 20px;*/
        /*overflow-x: hidden;*/
        /*overflow-y: auto; /!* Scrollable contents if viewport is shorter than content. *!/*/
        /*background-color: #f5f5f5;*/
        /*border-right: 1px solid #eee;*/
    /*}*/
    /*}*/
    /*/!* Sidebar navigation *!/*/
    /*.nav-sidebar {*/
        /*margin-right: -21px; /!* 20px padding + 1px border *!/*/
        /*margin-bottom: 20px;*/
        /*margin-left: -20px;*/
    /*}*/
    /*.nav-sidebar > li > a {*/
        /*padding-right: 20px;*/
        /*padding-left: 20px;*/
    /*}*/
    /*.nav-sidebar > .active > a,*/
    /*.nav-sidebar > .active > a:hover,*/
    /*.nav-sidebar > .active > a:focus {*/
        /*color: #fff;*/
        /*background-color: #428bca;*/
    /*}*/

    .nav-stacked{
        background-color: #f5f5f5;;
    }

</style>
<body>

<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="homepage" class="navbar-brand">Insatech Equipment</a>
        </div>

        <div class="collapse navbar-collapse" id="example">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Profile</a> </li>
            </ul>
            <form action="" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search equipment">
                </div>
            </form>
        </div>
    </div><!-- Container End -->
</div><!-- Navbar end -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="nav navbar">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"> <a href="#equipmentCollapse" data-toggle="collapse" >Equipment</a></li>
                <ul class="nav collapse" id="equipmentCollapse">
                    <li> <a href="createEquipmentData" >Create</a> </li>
                </ul>
                <li><a href="#">Overview</a> </li>

            </ul>
        </div>
        </div>
    </div>

</div>



{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>









{#  BASIC BASE.HTML.TWIG  #}
{#<!DOCTYPE html>#}
{#<html>#}
    {#<head><!-- Latest compiled and minified CSS -->#}
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}
        {#<!-- Optional theme -->#}
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">#}
        {#<!-- GoogleJS-->#}
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>#}

        {#<meta charset="UTF-8" />#}
        {#<title>{% block title %}Welcome!{% endblock %}</title>#}
        {#{% block stylesheets %}{% endblock %}#}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    {#</head>#}
    {#<body>#}
        {#{% block body %}{% endblock %}#}
        {#{% block javascripts %}{% endblock %}#}
        {#<!-- Latest compiled and minified JavaScript -->#}
        {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
    {#</body>#}
{#</html>#}
