{% extends 'AppBundle::base.html.twig'%}



{% block body %}

<!-- Wrapper begin -->
<div class="container-fluid" id="main-content-wrapper">
    <div class="container-fluid">
    <div class="row">

        <!-- Flexible Content -->
        <!-- Sidebar Begin -->
        <div class="col-lg-2">
            <div id="navigation-sidebar">
                <div class="nav navbar">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="overview">Overview</a> </li>
                        <ul class="nav" id="viewCollapse">
                            <li><a href="#">Equipment</a> </li>
                            <li><a href="#">Calibrations</a> </li>
                            <li><a href="#">Types</a> </li>
                            <hr>
                        </ul>
                        <li class="active"><a href="#">Equipment</a></li>
                        <ul class="navbar nav" id="equipmentCollapse">
                            <li > <a href="#createCollapse" data-toggle="collapse">Create</a> </li>
                            <ul class="nav collapse" id="createCollapse">
                                <li> <a href="createEquipmentData" >Equipment</a> </li>
                                <li> <a href="createCalibration" >Calibration</a> </li>
                                <li> <a href="createEquipmentType" >Type</a> </li>
                                <hr>
                            </ul>
                            <li> <a href="createEquipmentData" >Update</a> </li>
                            <hr>
                        </ul>
                    </ul>
                </div>
            </div>
        </div><!-- Sidebar End -->
        <!-- Flexible Content END -->



        <div class="col-lg-4">
            {{ form_start(equipmentDataForm) }}
            {{ form_widget(equipmentDataForm) }}
            {{ form_end(equipmentDataForm) }}
        </div>
    </div>
    </div>


</div><!-- Wrapper End -->


{% endblock %}