{% extends 'AppBundle::base.html.twig'%}



{% block body %}

<!-- Wrapper begin -->
<div class="container" id="main-content-wrapper">

    <div class="container">
    <div class="row">
        <div class="col-lg-4">
            {{ form_start(equipmentDataForm) }}
            {{ form_widget(equipmentDataForm) }}
            {{ form_end(equipmentDataForm) }}
        </div>
    </div>
    </div>


</div><!-- Wrapper End -->


{% endblock %}