{% extends 'AppBundle::sidebar.html.twig' %}

{% block body %}


    <div class="container-fluid" id="main-content-wrapper">
        <div class="row">
            {% block sidebar %}{{ parent() }}{% endblock %}


            <table class="table table-hover">

                {% for t in types %}
                    <tr>
                        <td>t.type</td>
                    </tr>
                {% endfor %}

            </table>

        </div>
    </div>



{% endblock %}