{% extends 'AppBundle::base.html.twig' %}

{% block body %}


    <div class="container-fluid" id="main-content-wrapper">

        <div class="row">

            <div class="col-md-4">
                <select>
                    {#{% for e in equipment %}#}
                        {#<option value="id">{{ e.equipmentID }}</option>#}
                    {#{% endfor %}#}
                </select>
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Equipment
                    <span class="caret"></span> </button>
                    <ul class="dropdown-menu">
                        {#{% for e in equipment %}#}
                            {#<a href="#"><li>{{ e.equipmentID }}</li></a>#}
                        {#{% endfor %}#}
                    </ul>
                </div>

                <table class="table">
                    <tr>
                        <th>types</th>
                    </tr>
                      {% for c in cal %}
                      <tr>
                          <td>
                              {{ c.nextCalibration|date('d-m-y') }}
                          </td>
                      </tr>

                    {% endfor %}
                </table>





            </div>
        </div>
</div>



{% endblock %}