{% extends 'AppBundle::sidebar.html.twig' %}


{% block body %}

    <!-- Wrapper begin -->
    <div class="container-fluid" id="main-content-wrapper">
                {% block sidebar %}{{ parent() }}{% endblock %}


                <div class="col-lg-1">
                    <table class="table table-hover" id="myTables">
                        <tc><h1>Units</h1></tc>
                        <th>
                            <tr>
                                <th>Units</th>
                            </tr>
                        </th>
                        {% for u in units %}
                            <tr onclick="document.location = '{{ path('updateUnit', {'id': u.id}) }}'">
                                <td>{{ u.unit }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- Wrapper End-->


{% endblock %}
