{% extends '@App/layoutBase.html.twig'%}



{% block index %}

    <!-- Column Begin -->
    <div class="col-lg-12">
        <h1>Update calibration</h1>
        <hr>
    </div><!-- Column End -->

    <!-- Run the form -->
    <div class="col-lg-4"><!-- Column Begin -->
        {{ form_start(Form) }}
        {{ form_widget(Form) }}
        {{ form_end(Form) }}
    </div><!-- Column End -->

{% endblock %}