{% extends 'FOSUserBundle::layout.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
<header>
    <div class="container" id="main-content-wrapper">
        <div class="container">
            <div class="jumbotron">
                <h1>Register</h1>
            </div>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <div class="col-lg-1">
        {% block fos_user_content %}
            <div class="container">
                <div class="col-lg-2">
                    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                </div>
            </div>
        {% endblock fos_user_content %}
        </div>
    </div>
    </div>

{% endblock %}
