

<!-- Panel Group with Create and Update Buttons -->
<!-- Container begin -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group" id="accordion">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#equipmentCollapse" data-toggle="collapse" data-parent="accordion" class="">Equipment</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="equipmentCollapse">
                        <div class="panel-body">
                            <div class="panel-title">
                                <a href="#createCollapse" data-toggle="collapse" data-parent="accordion">Create</a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="createCollapse">
                            <div class="panel-body">
                                <a href="createEquipmentData">Equipment Data</a>
                            </div>
                            <div class="panel-body">
                                <a href="createCalibration">Calibration</a>
                            </div>

                            <div class="panel-body">
                                <a href="createEquipmentType">Equipment Type</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="panel-title">
                                <a href="#updateCollapse" data-toggle="collapse" data-parent="accordion">Update</a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="updateCollapse">
                            <div class="panel-body">
                                <a href="#">Equipment Data</a>
                            </div>
                            <div class="panel-body">
                                <a href="#">Calibration</a>
                            </div>
                            <div class="panel-body">
                                <a href="#">Equipment Type</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a href="" data-toggle="collapse" date-parent="accordion">Something else</a></h4>
                    </div>
                </div>
            </div><!-- Panel End -->
        </div>
    </div><!-- Row End -->
</div><!-- Container End -->